.container {
	padding: 2rem 0rem;
  }
  
  h4 {
	margin: 2rem 0rem 1rem;
  }
  
  .table-image {
	td, th {
	  vertical-align: middle;
	}
  }
  
  .add_bonus{
	float:right;
	margin-top:25px;
  }



.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}
.box_cus_row {
    padding: 20px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
    border-radius: 7px;
    border-left: 3px solid #4e73df;
} 
.box_cus_row h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px 0;
}

.box_cus_row h6 {
    margin: 6px 0 0 0;
    padding: 0;
    font-size: 18px;
    display: inline-block;
    width: 100%;
}
.h1_box h2 {
    float: left;
    font-size: 22px;
    color: #333;}

.h1_box {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding-bottom: 16px;
    margin-bottom: 30px;
}   

.container1 {
    padding-top: 30px;
}

.custom_header .navbar-brand {
    color: #444 !important;
    margin: 0 auto;
    line-height: normal;
    padding-top: 2px;
    padding-bottom: 13px;
} 

.listing_page .breadcrumbs{padding: 0px;margin-left: 0px;margin-right: 0px;}

.listing_page .table-bordered th {
    font-size: 13px;
    padding: 8px;
    white-space: nowrap;
}
.listing_page .table-bordered td{    font-size: 13px;
    padding: 8px;}

    .listing_page .table-bordered td .btn {
    font-size: 14px;
    padding: 3px 9px 5px 9px;
} 

.page_navi .pagination {
    display: inline-flex;
}
.page_navi {
    display: inline-block;
}


@media ( max-width: 767px ) {
	.box_cus div[class*="col-"] {

    flex: 0 0 100%;
    max-width: 100%;-ms-flex: 0 0 100%;
    margin-bottom: 25px;

}
}


@media ( max-width: 575px ) {
	.listing_page .bonus_filter {
    margin-bottom: 20px;
}
.listing_page h4 {
    margin: 10px 0;
}

.listing_page td.nowrap{white-space: nowrap;}
}